<div class="row">
    <div class="col-md-12">
        <hr/>
        <h4>Related List</h4>
        <div v-if="table.items.length">
            <p class="help-block">The following items are associated with this team.</p>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Type <column-sorter :column="'index.indexable_type'"></column-sorter></th>
                    <th>ID <column-sorter :column="'index.indexable_id'"></column-sorter></th>
                    <th>Name <column-sorter :column="'index.name'"></column-sorter></th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in table.items">
                    <td>{{ item.indexable_type }}</td>
                    <td>{{ item.indexable_id }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-right">

                    </td>
                </tr>
                </tbody>
            </table>
            <pagination></pagination>
        </div>
        <div v-else>
            <p style="font-style: italic;">No users are currently linked to this item.</p>
        </div>
    </div>
</div>