<div>
    <template v-if="show">
        <div class="row belt-pagination">
            <div class="col-md-4">
                <div class="pagination" role="status" aria-live="polite">
                    Showing {{ table.from }} to {{ table.to }} of {{ table.total }} entries
                </div>
            </div>
            <div class="col-md-8">
                <span class="pull-right">
                    <ul class="pagination-sm pagination">
                        <li v-if="isNotFirst">
                            <a href="" @click.prevent="paginate({page: 1})" title="first page"><i class="fa fa-step-backward"></i></a>
                        </li>
                        <li v-else class="disabled">
                            <span><i class="fa fa-step-backward" title="first page"></i></span>
                        </li>
                        <li v-if="hasPrevious">
                            <a href="" @click.prevent="paginate({page: table.current_page - 1})" title="previous page"><i class="fa fa-backward"></i></a>
                        </li>
                        <li v-else class="disabled">
                            <span><i class="fa fa-backward" title="previous page"></i></span>
                        </li>
                        <template v-for="number in indexes">
                            <li :class="{ active: isActive(number) }">
                                <a href="" @click.prevent="paginate({page: number})" :title="'page ' + number">{{ number }}</a>
                            </li>
                        </template>
                        <li v-if="hasNext">
                            <a href="" @click.prevent="paginate({page: table.current_page + 1})" title="next page"><i class="fa fa-forward"></i></a>
                        </li>
                        <li v-else class="disabled">
                            <span><i class="fa fa-forward" title="next page"></i></span>
                        </li>
                        <li v-if="hasLast">
                            <a href="" @click.prevent="paginate({page: table.last_page})" title="last page"><i class="fa fa-step-forward"></i></a>
                        </li>
                        <li v-else class="disabled">
                            <span><i class="fa fa-step-forward" title="last page"></i></span>
                        </li>
                    </ul>
                </span>
                <span class="pull-right">
                    <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" v-model="table.query.perPage" @change="paginate({})" title="items per page" style="height: 30px;">
                            <option :value="table.query.perPage">show {{ perPage }} items</option>
                            <template v-for="limit in perPages">
                                <option v-if="limit != table.query.perPage" :value="limit">{{ limit }} items</option>
                            </template>
                        </select>
                    </div>
                    </div>
                </span>
            </div>
        </div>
    </template>
</div>