<div>
    <template v-if="roles">
        <h4>Available Roles</h4>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-right"></th>
            </tr>
            </thead>
            <tbody>
            <template v-for="role in roles">
                <row-item :role="role"></row-item>
            </template>
            </tbody>
        </table>
    </template>
</div>