.admin {
  .box-body {
    .btn-group {
      margin-bottom: 10px;
    }
    p.bg-primary, p.bg-info, p.bg-warning, p.bg-danger, p.bg-success {
      padding: 10px;
    }
  }
}

.belt-pagination {
  .pagination {
    margin:0 0;
  }
}


.btn-saveable {
  width: 60px;

  &.saving {
    background: rgba(red(#3c8dbc), green(#3c8dbc), blue(#3c8dbc), .5);
  }

  &.saved {
    background: green;
  }
}

@import "components/column-sorter";
@import "components/form-roles";