.admin {
  .box-body {
    .btn-group {
      margin-bottom: 10px;
    }
    p.bg-primary, p.bg-info, p.bg-warning, p.bg-danger, p.bg-success {
      padding: 10px;
    }
  }
}

.pagination-meta-data {
  margin: 15px 0;
}

@import "components/column-sorter";
@import "components/form-roles";