<div class="form-group" :class="{ 'has-error': form && form.error(column) }">
    <label :for="column">
        <slot>{{ label }}</slot>
        <span v-if="required">*</span></label>
    <input type="text" class="form-control" v-model="form[column]" :placeholder="_placeholder" @keyup="emitEvent()">
    <span class="help-block" v-html="description"></span>
    <span v-for="error in form.error(column)" class="text-danger">{{ error }}</span>
    <translation-input-group type="text"></translation-input-group>
</div>