<div class="form-group" :class="{ 'has-error': form && form.error(column) }">
    <label :for="column">
        <slot>{{ label }}</slot>
        <span v-if="required">*</span>
    </label>
    <div :class="{'input-group': hasInputGroups}">
        <input-addon-translatable v-if="translatable"></input-addon-translatable>
        <input type="text" class="form-control" v-model="form[column]" :placeholder="placeholder" @keyup="emitEvent()">
    </div>
    <span class="help-block" v-html="description"></span>
    <span v-for="error in form.error(column)" class="text-danger">{{ error }}</span>
    <input-group-translations v-if="translatable"></input-group-translations>
</div>