@import "admin-lte";

.admin {
    .box-body {
        .btn-group {
            margin-bottom: 10px;
        }
        p.bg-primary, p.bg-info, p.bg-warning, p.bg-danger, p.bg-success {
            padding: 10px;
        }
    }
    .sub-tab-btn-group {
        margin-bottom: 10px;
    }
    .filter-set {
        padding:0 0 10px;
        .filter {
            margin-right: 10px;
        }
        .filter-set-badges {
            margin-bottom: 10px;
        }
        .filter-set-badges-heading {
            font-weight: 700;
            float: left;
            margin-right: 10px;
        }
        .filter-badge {
            background-color: #d2d6de;
            padding: 0px 5px;
            margin-right: 5px;
        }
        .form-group {
            margin-bottom: 0;
        }
    }
}

.belt-pagination {
    .pagination {
        margin: 0 0;
    }
}

.btn-saveable {
    width: 60px;

    &.saving {
        background: rgba(red(#3c8dbc), green(#3c8dbc), blue(#3c8dbc), .5);
    }

    &.saved {
        background: green;
    }
}

.nav-tabs-standalone {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alt-box-header {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.alt-box-footer {
    border-top: 1px solid #f4f4f4;
    padding-top: 10px;
    margin-top: 10px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@import "components/column-sorter";
@import "components/dropdown";
@import "components/form-roles";