#app {
    .sidebar {
        ul {
            ul {
                ul {
                    li {
                        list-style-position: inside;
                        a {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    .article {
        ul {
            ul {
                li {
                    &:last-child {
                        border: 0;
                    }
                }
            }
        }
    }
}