.skin-belt {
  //Navbar
  .main-header {
    .navbar {
      @include navbar-variant($default-color, #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken($default-color, 5%);
        }
      }
      @media (max-width: $screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken($default-color, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      @include logo-variant(darken($default-color, 5%));
    }

    li.user-header {
      background-color: $default-color;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  @include skin-dark-sidebar($default-color);
}

//.skin-blue.layout-top-nav .main-header > .logo {
//  @include logo-variant($default-color);
//}