<span>
    <div class="form-group" zclass="{ 'has-error': form && form.error(column) }">
        <label><slot></slot></label>
        <div class="form-inline">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input @change="changeDate" type="date" name="column_date" class="form-control" v-model="column_date">
            </div>
            <div v-if="time" class="input-group date">
                <input @change="changeTime" type="time" name="column_time" class="form-control" v-model="column_time">
            </div>
        </div>
<!--        <span v-if="form" v-for="error in form.error(column)" class="text-danger">{{ error }}</span>-->
    </div>
</span>