<tr class="form-inline">
    <td>
        <dropdown :table="paramKeys" :form="form" column="key"></dropdown>
    </td>
    <td>
        <dropdown :table="paramValues" :form="form" column="value"></dropdown>
    </td>
    <td class="text-right">
        <button class="btn btn-sm btn-primary" :disabled="form.errors.any()" @click="create()">
            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span v-else>Save11</span>
        </button>
    </td>
</tr>