<tr class="form-inline">
    <td>
        <div :class="{ 'has-warning': dirty }">
            <div class="input-group">
                <input class="form-control input-sm" v-model="form.key" placeholder="key" @keydown="form.errors.clear($event.target.name)" readonly>
                <span class="input-group-addon">
                    <i class="fa fa-save"></i>
                </span>
            </div>
        </div>
    </td>
    <td>
        <div :class="{ 'has-error': form.error('value') }">
            <template v-if="options.length">
                <select name="value" v-model="form.value" class="form-control" @change="triggerScan()">
                    <template v-for="option in options">
                        <option :value="option.value">{{ option.label }}</option>
                    </template>
                </select>
            </template>
            <template v-else>
                <input class="form-control input-sm" v-model="form.value" placeholder="" @keyup="triggerScan()" style="width:100%;">
            </template>
            <span v-for="error in form.error('value')" class="text-danger">{{ error }}</span>
        </div>
    </td>
</tr>