<div v-if="params.length" class="row">
    <div class="col-md-12">
        <hr/>
        <h4>Param List
            <span v-if="params.length" class="pull-right">
                <button class="btn btn-xs" :class="{'btn-default': !dirty, 'btn-primary': dirty}" :disabled="!dirty" @click.prevent="update()">
                    <span>Update Params</span>
                </button>
            </span>
        </h4>

        <template v-for="param in params">
            <edit :param="param" :config="getConfig('params.' + param.key)"></edit>
        </template>

<!--        <table class="table table-hover">-->
<!--            <tbody>-->
<!--            <template v-for="param in params">-->
<!--                <edit :param="param" :config="getConfig('params.' + param.key)"></edit>-->
<!--            </template>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <pagination></pagination>-->
        <hr/>
    </div>
</div>