<div>
    <div v-if="!auth" class="team-signup-progress">
        <span class="label label-default" :class="{'label-primary': step == 1}">
            <slot name="step1_text">Step 1: User Info</slot>
        </span>
        <i class="fa fa-caret-right"></i>
        <span class="label label-default" :class="{'label-primary': step == 2}">
            <slot name="step2_text">Step 2: Team Info</slot>
        </span>
    </div>
    <template v-if="step == 1">
        <user-form
                @user-signup-success="advance"
        >
            <span slot="error_msg_email">
                <div class="alert alert-warning" role="alert">
                    {{ user_error_msg_email }}
                </div>
            </span>
            <span slot="label_is_opted_in">{{ user_label_is_opted_in }}</span>
            <span slot="label_submit_button">{{ user_label_submit_button }}</span>
        </user-form>
    </template>
    <template v-if="step == 2">
        <team-form
                @team-signup-success="complete"
        >
            <span slot="label_submit_button">{{ team_label_submit_button }}</span>
        </team-form>
    </template>
    <template v-if="step == 3">
        <h2>All Done!</h2>
    </template>
</div>