<div class="box box-primary">
    <div class="box-body">
        <div class="btn-group">
            <a href="/admin/roles/#!/create" class="btn btn-primary">add role</a>
        </div>
        <table ng-init="index()" id="" class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>ID <ohio-column-sorter uri="/admin/roles/#!/index" order-by="roles.id"></ohio-column-sorter></th>
                    <th>Name <ohio-column-sorter uri="/admin/roles/#!/index" order-by="roles.name"></ohio-column-sorter></th>
                    <th>Slug <ohio-column-sorter uri="/admin/roles/#!/index" order-by="roles.slug"></ohio-column-sorter></th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr id="role-index-{{ role.id }}" ng-hide="loading" ng-repeat="role in roles.data">
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                    <td>{{ role.slug }}</td>
                    <td class="text-right">
                        <a class="btn btn-xs btn-warning" href="/admin/roles/#!edit/{{ role.id }}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-xs btn-danger" ng-click="destroy(role.id)" href="/admin/roles/#!/index"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th class="text-right">Actions</th>
                </tr>
            </tfoot>

        </table>
        <div class="row">
            <div class="col-xs-5">
                <div class="dataTables_info" role="status" aria-live="polite">
                    Showing {{ roles.meta.pagination.from }} to {{ roles.meta.pagination.to }} of {{ roles.meta.pagination.total }} entries
                </div>
            </div>
            <div class="col-xs-7">
                <div class="dataTables_paginate paging_simple_numbers">
                    <uib-pagination ng-change="pageChanged()" template-url="/ng/vendor/angular-ui-bootstrap/template/pagination/pagination.html" boundary-links="true" total-items="roles.meta.pagination.total" items-per-page="criteria.perPage" ng-model="criteria.page" class="pagination-sm"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>