.admin {
    .user-header {
        i.fa {
            color: #fff;
        }
        div {
            color: #fff;
            margin-top: 5px;
            strong {
                font-size: 18px;
            }
        }
    }
}