<div v-if="visible">
    <div class="well well-sm well-default">
        <h5 class="clearfix">Translations</h5>
        <div v-if="altLocales.length" class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code></div>
                <input type="text" class="form-control" value="Value" readonly/>
                <div v-if="canAutoTranslate" class="input-group-addon">
                    <input
                            type="checkbox"
                            :true-value="true"
                            :false-value="false"
                            v-model="checked"
                            @click.prevent="toggleChecked"
                    />
                </div>
            </div>
            <translation-text-input v-for="locale in altLocales" :key="locale.code" :locale="locale.code"></translation-text-input>
            <div v-if="canAutoTranslate" class="clearfix">
                <span class="pull-right">
                    <button
                            class="btn btn-default btn-sm"
                            @click.prevent="fetchAutoTranslation">
                        auto-translate
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>