<div>
    <i v-if="paramsLoading" class="fa fa-spinner fa-spin"></i>
    <template v-if="params.length" v-for="paramGroup, groupKey in sortedParams">
        <template v-if="!isGroup(groupKey)">
            <edit v-for="param in paramGroup" :param="param" :config="param.config" :key="param.id"></edit>
        </template>
        <template v-else>
            <group :groupKey="groupKey" :group="group(groupKey)" :params="paramGroup"></group>
            <!--            <div class="well well-sm well-default" :class="'group-' + index">-->
            <!--                <edit v-for="param in group" :param="param" :config="param.config" :key="param.id"></edit>-->
            <!--            </div>-->
        </template>
    </template>
</div>