<div>
    <i v-if="translationsLoading" class="fa fa-spinner fa-spin"></i>
    <template v-if="translations.length" v-for="translationGroup, groupKey in sortedTranslations">
        <template v-if="!isGroup(groupKey)">
            <edit v-for="translation in translationGroup" :translation="translation" :config="translation.config" :key="translation.id"></edit>
        </template>
        <template v-else>
            <group :groupKey="groupKey" :group="group(groupKey)" :translations="translationGroup"></group>
            <!--            <div class="well well-sm well-default" :class="'group-' + index">-->
            <!--                <edit v-for="translation in group" :translation="translation" :config="translation.config" :key="translation.id"></edit>-->
            <!--            </div>-->
        </template>
    </template>
</div>