<form @submit.prevent="form.submit()" @keydown="form.errors.clear($event.target.name)">
    <div class="row">

        <div class="col-md-4 col-md-push-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           v-model="form.is_active"
                           :true-value="true"
                           :false-value="false"
                    > Is Active
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           v-model="form.is_opted_in"
                           :true-value="true"
                           :false-value="false"
                    > Is Opted in
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           v-model="form.has_agreed"
                           :true-value="true"
                           :false-value="false"
                    > Has Agreed to Terms of Service
                </label>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group" :class="{ 'has-error': form.error('first_name') }">
                        <label for="first_name">First Name *</label>
                        <input class="form-control" v-model="form.first_name" placeholder="first name">
                        <span v-for="error in form.error('first_name')" class="text-danger">{{ error }}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" :class="{ 'has-error': form.error('mi') }">
                        <label for="mi">MI</label>
                        <input class="form-control" v-model="form.mi" placeholder="mi">
                        <span v-for="error in form.error('mi')" class="text-danger">{{ error }}</span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" :class="{ 'has-error': form.error('last_name') }">
                        <label for="last_name">Last Name *</label>
                        <input class="form-control" v-model="form.last_name" placeholder="last name">
                        <span v-for="error in form.error('last_name')" class="text-danger">{{ error }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group" :class="{ 'has-error': form.error('email') }">
                <label for="email">Email *</label>
                <input type="email" class="form-control" v-model="form.email" placeholder="email">
                <span v-for="error in form.error('email')" class="text-danger">{{ error }}</span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" :class="{ 'has-error': form.error('password') }">
                        <label v-if="form.id" for="password">Password</label>
                        <label v-else for="password">Password *</label>
                        <input type="password" class="form-control" v-model="form.password" placeholder="password">
                        <span v-for="error in form.error('password')" class="text-danger">{{ error }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" :class="{ 'has-error': form.error('password_confirmation') }">
                        <label v-if="form.id" for="password_confirmation">Password Confirmation</label>
                        <label v-else for="password_confirmation">Password Confirmation *</label>
                        <input type="password" class="form-control" v-model="form.password_confirmation" placeholder="password confirmation">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-right">
        <button class="btn btn-primary" :disabled="form.errors.any()">
            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span v-else>save</span>
        </button>
    </div>
</form>